@model CreateVM
<!DOCTYPE html>
    <html>
    @{
        ViewBag.Title = "Add a watch";
    }
    <body>
        <style>
            li {
                color: red;
                
            }
        </style>
        <form asp-controller="Watches" asp-action="Create">
            <label asp-for="Name"></label>
            <input asp-for="Name"/>
            <span asp-validation-for="Name" style="color:red"></span>
            <br/>
            <br/>
            <label asp-for="Description" ></label>
            <input asp-for="Description" />
            <span asp-validation-for="Description" style="color:red"></span>
            <br/>
            <br/>
            <label asp-for="Price" ></label>
            <input asp-for="Price" />
        <span asp-validation-for="Price" style="color:red"></span>
            <br/>
        <br />
            <label asp-for="ReferenceNumber" ></label>
            <input asp-for="ReferenceNumber" />
        <span asp-validation-for="ReferenceNumber" style="color:red"></span>
            <br/>
            <br/>
            <input type="submit" value="Post"/>
            
        </form>
        <br/>
            <div asp-validation-summary="All" style="validationSummary"></div>
        <br/>
    </body>
    </html>