@model CreateVM
    @{
        ViewBag.Title = "Add a watch";
    }
<style>
    li {
        color: red;
    }
</style>
<form asp-controller="Watches" asp-action="Create">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name" style="color:red"></span>
    <br />
    <br />
    <label asp-for="Description"></label>
    <input asp-for="Description" />
    <span asp-validation-for="Description" style="color:red"></span>
    <br />
    <br />
    <label asp-for="Price"></label>
    <input asp-for="Price" />
    <span asp-validation-for="Price" style="color:red"></span>
    <br />
    <br />
    <label asp-for="ReferenceNumber"></label>
    <input asp-for="ReferenceNumber" />
    <span asp-validation-for="ReferenceNumber" style="color:red"></span>
    <br />
    <br />
    <input type="submit" value="Post" />

</form>
<br />
<div asp-validation-summary="All" style="validationSummary"></div>
<br />
@section Scripts
{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"
            asp-fallback-src="~/scripts/jquery/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"
            asp-fallback-src="~/scripts/jquery-validate/jquery.validate.min.js"
            asp-fallback-test="$.validator">
    </script>

    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/scripts/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="$.validator.unobtrusive">
    </script>
}