@model IndexVM
@{
    ViewBag.Title = "Watches";
}
    <ul>
        @foreach (var watch in Model.WatchVMs)
        {
            <li>
                <a asp-controller="Watches" asp-action="Details"  asp-route-id="@watch.Id">@watch.Name</a>
            </li>
        }
    </ul>