@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using WhatchApp.Web.Models
@using WhatchApp.Web.Controllers;

<!DOCTYPE html>
<html>
<head>
    <title>Watches</title>    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
</head>
<body>
    <h2>Watches</h2>
    <ul>
        @foreach (Watch watch in Model)
        {
            <li>
                <a asp-controller="Watches" asp-action="Details"  asp-route-id="@watch.Id">@watch.Name</a>
            </li>
        }
    </ul>
    <a asp-controller="Watches" asp-action="Create" >[Add a watch]</a>

</body>
</html>